<form [formGroup]="form" (ngSubmit)="enviarEdicion()">
  <div class="mb-3">
    <label>Nombre</label>
    <input type="text" class="form-control" formControlName="nombre">
  </div>

  <div class="mb-3">
    <label>SKU</label>
    <input type="text" class="form-control" formControlName="sku">
  </div>

  <div class="mb-3">
    <label>Categoría</label>
    <input type="text" class="form-control" formControlName="categoria">
  </div>

  <div class="mb-3">
    <label>Precio</label>
    <input type="number" class="form-control" formControlName="precio">
  </div>

  <div class="mb-3">
    <label>Stock actual</label>
    <input type="number" class="form-control" formControlName="stock_actual">
  </div>

  <div class="mb-3">
    <label>Stock mínimo</label>
    <input type="number" class="form-control" formControlName="stock_minimo">
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>